<div class="p-2 pt-3 pb-4">
    <h2 class="mb-3 text-primary">Lorem Ipsum is simply dummy text</h2>
    <h6 class="mb-3">by <span class="text-primary">Bibhu Ranjan</span> posted on 20/10/2020</h6>
    <div class="center">
        <img src="../../../assets/04-full.jpg" alt="Post featured image" class="img img-responsive mb-2" height="300px">
        <p class="text-primary m-2">Some image caption</p>
    </div>

    <div class="mb-3" style="text-align: justify;font-weight: 600;">
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley
        of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
        leap
        into electronic typesetting, remaining essentially unchanged
    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut
        perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
        eaque
        ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
        voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
        voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        adipisci
        velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut
        enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
        commodi
        consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae
        consequatur,
        vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
    </div>

    <hr/>
        <span class="spn-btn mr-2">Upvote</span>
        <span class="spn-btn">Comments</span>
    <hr />
    <div class="row">
        <div class="col-xs-2 col-1">
            <img src="../../../assets/photo.jpg" class="img img-avatar" />
        </div>
        <div class="col-xs-10 col-11">
            <textarea type="text" name="comment" class="form-control" [(ngModel)]="userComment.comment" placeholder="Share your thoughts..."></textarea>
        </div>
    </div>
    <div class="right">
        <button type="submit" class="btn btn-primary">Submit &rarr;</button>
    </div>
    <hr />

</div>