<div class="row mb-3 mt-3">
    <div class="col-6 row-content-image">
        <img class="card-img-left" src="../../../assets/04-full.jpg" alt="Card image cap" />
    </div>
    <div class="col-6 row-content-wrapper">
        <div class="row-content">
            <h5 class="card-title">Post Title</h5>
            <p class="card-text">Some quick example text to build on the Post Title and make up the bulk of
                the
                card's content.</p>
            <a href="#">Read More &rarr;</a>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-6 col-content">
        <div class="card">
            <img class="card-img-top" src="../../../assets/background_7.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Post Title</h5>
                <p class="card-text">Some quick example text to build on the Post Title and make up the bulk of
                    the
                    card's content.</p>
                <a href="#">Read More &rarr;</a>
            </div>
        </div>
    </div>
    <div class="col-6 col-content">
        <div class="card">
            <img class="card-img-top" src="../../../assets/bckgr.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Post Title</h5>
                <p class="card-text">Some quick example text to build on the Post Title and make up the bulk of
                    the
                    card's content.</p>
                <a href="#">Read More &rarr;</a>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3 mt-3">
    <div class="col-6 row-content-image">
        <img class="card-img-left" src="../../../assets/header.jpg" alt="Card image cap" />
    </div>
    <div class="col-6 row-content-wrapper">
        <div class="row-content">
            <h5 class="card-title">Post Title</h5>
            <p class="card-text">Some quick example text to build on the Post Title and make up the bulk of
                the
                card's content.</p>
            <a href="#">Read More &rarr;</a>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-6 col-content">
        <div class="card">
            <img class="card-img-top" src="../../../assets/max1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Post Title</h5>
                <p class="card-text">Some quick example text to build on the Post Title and make up the bulk of
                    the
                    card's content.</p>
                <a href="#">Read More &rarr;</a>
            </div>
        </div>
    </div>
    <div class="col-6 col-content">
        <div class="card">
            <img class="card-img-top" src="../../../assets/background_7.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Post Title</h5>
                <p class="card-text">Some quick example text to build on the Post Title and make up the bulk of
                    the
                    card's content.</p>
                <a href="#">Read More &rarr;</a>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3 mt-3">
    <div class="col-6 row-content-image">
        <img class="card-img-left" src="../../../assets/04-full.jpg" alt="Card image cap" />
    </div>
    <div class="col-6 row-content-wrapper">
        <div class="row-content">
            <h5 class="card-title">Post Title</h5>
            <p class="card-text">Some quick example text to build on the Post Title and make up the bulk of
                the
                card's content.</p>
            <a href="#">Read More &rarr;</a>
        </div>
    </div>

</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>