@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@500&family=Source+Code+Pro&display=swap');


body{
    font-family: 'Rokkitt', serif;
    min-height: 100vh;
    background: linear-gradient(-45deg, #e6e6e6, white, white, white, #e6e6e6); 
}

.center{
    text-align: center;
}
.right{
    text-align: right;
}
.spn-btn{
    cursor: pointer;
    color: #0275d8;
}
.spn-btn:hover{
    color: royalblue;
}
.btn{
    margin: 5px;
}
.card-body{
    background: linear-gradient(-45deg, lightgray, white,white, lightgray);
}