<span class="float-left ml-2">
    <a href="http://youtube.com" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-youtube"></i>
    </a>
    <a href="https://www.facebook.com/b.i.b.h.u.98" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook-square"></i>
    </a>
    <a href="https://www.instagram.com/bibhu__ranjan/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram"></i>
    </a>
</span>
<div class="container">
    <div class="header center">
        <h2>TheFridayStory</h2>
        <h5>Your weekend starter pack...</h5>
    </div>
</div>

<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Tech</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Life Style</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Travel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">More</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..."
                                aria-label="Example text with button addon" aria-describedby="button-addon1" />
                            <div class="input-group-prepend">
                                <button class="btn-outline-secondary btn-search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="javascript:void(0)" (click)="openAccount()">
                        Login 
                        <!-- <i class='fas fa-user-plus ml-2'></i> -->
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-8 mt-2">
            <router-outlet></router-outlet>
        </div>
        <div class="col-4 mt-2 p-3">
            <app-right-panel></app-right-panel>
        </div>
    </div>
</div>

<app-footer></app-footer>